@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #10b981;
  --color-background-light: transparent;
  --color-background-dark: transparent;
  --font-display: Inter, sans-serif;
  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

:root {
  --gradient-bg: radial-gradient(circle, rgba(215, 238, 174, 1) 0%, rgba(215, 238, 174, 1) 100%);
  --text-main: #0f172a;
}

.dark {
  --gradient-bg: radial-gradient(circle, #013220 0%, #013220 100%);
  --text-main: #ecfdf5;
}

body {
  font-family: var(--font-display);
  background: var(--gradient-bg) no-repeat center center fixed;
  background-size: cover;
  color: #0f172a;
  /* Default light */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dark body {
  color: var(--text-main);
}

/* Specific override for headers or text that MUST stay white */
.dark .text-white-forced {
  color: #ffffff !important;
}

/* Secondary forced white for subtext */
.dark .text-white-forced-dim {
  color: rgba(255, 255, 255, 0.8) !important;
}

/* Custom Scrollbar from design */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #282e39;
  border-radius: 10px;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}